body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B39DDB;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .lista {
    display: flex;
  }
  
  li {
    list-style: none;
    margin-right: 25px;
    transition: opacity 0.3s ease-in-out;
  }
  
  li:hover {
    opacity: 0.2;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .titular {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  .abuscar {
    font-size: 14px;
    background-color: #B39DDB;
    padding: 20px 30px;
    color: white;
  }
  
  .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
  }
  
  .img-movimiento {
    text-align: center;
    width: 150px;
  }
  
  .img-movimiento img,
  .img-movimiento p {
    transition: transform 0.3s ease-in-out;
  }
  
  .img-movimiento:hover img,
  .img-movimiento:hover p {
    transform: scale(1.1);
  }
  
  /* Teléfonos y pantallas pequeñas */
  @media (max-width: 768px) {
    .img-movimiento {
      width: 220px;
    }
  
    .img-movimiento img {
      width: 100%;
      height: auto;
    }
  
    .img-movimiento p {
      font-size: 14px;
    }
  }