
  body{
    font-family: "Poppins";
  }
 
  .bancos{
    flex-direction: column-reverse; /* Invierte el orden: imágenes abajo, texto arriba */
    align-items: flex-end; /* Alinea todo a la derecha */
    text-align: right; /* Asegura que el texto también esté alineado a la derecha */

  }
  .parrafo1{
    display: flex;
  }

  .informacion{
    display: flex;
    justify-content: space-around;

    
  }
  .img-redes{
    display: flex;    
  }
  h3{
    text-align: center;
  }

  
  li{
    list-style: none;
    margin-right: 25px;
  }
  .menu{
    display: flex;
    background-color: #B39DDB;
    justify-content: space-between;
    border-radius: 20px;

}
.lista{
    display: flex;

}
a{
    text-decoration: none;
    color: black;
    transition: opacity 0.3 ease-in-out; 
    
}
a:hover{
  opacity: 0.2; 
}

.vision-mision{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 
.if{
  width: 17%;
  padding: 20px;
  border-radius: 10px;
  color: aliceblue;
  justify-content: space-between;

}
p{
}
.violeta{
    background-color: #B39DDB;
}
.morado{
  background-color: #7359a6;
}



h4{
  font-size: 25px;
  text-align: center;
}